
<!--Essas tags doidonas são web components
são tags customizadas, exclusivas do ang material-->
<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Nome</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>E-mail</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Telefone</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Data</label>
        <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="text">
    </md-input-container>

<md-button class="md-raised">Limpar</md-button>
<md-button class="md-raised md-primary">Cadastrar</md-button>

</md-content>

<!--Quem não é gay é viado-->